### Basics of SQLITE3

In [9]:
import sqlite3

In [10]:
conn = sqlite3.connect('lunch.db')

In [11]:
c = conn.cursor()

In [12]:
c.execute('''CREATE TABLE meals(sandwish TEXT, fruit TEXT, tablenumber INT)''')

In [13]:
sandwich = 'chicken'
fruit = 'orange'
tablenum = 24

In [14]:
c.execute('''INSERT INTO meals VALUES(?,?,?)''', (sandwich, fruit, tablenum))

In [15]:
conn.commit()

In [16]:
c.execute('''SELECT tablenumber FROM meals''')
results = c.fetchall()

In [17]:
print(results)

[(24,)]

In [18]:
#c.execute('''DROP TABLE meals''')

### Writing the scraper

In [45]:
import requests
from bs4 import BeautifulSoup
from latest_user_agents import get_random_user_agent
import datetime

In [52]:
def getProductData(url):
    headers = {
        'User-Agent': get_random_user_agent()
    }
    r = requests.get(url, headers=headers)
    soup = BeautifulSoup(r.text, 'lxml')
    current_date = datetime.datetime.now()
    brand = soup.select_one('.pdp-layout-top-resume-top-left-brand').get_text(strip=True)
    model = soup.select_one('.pdp-layout-top-resume-top-left-model').get_text(strip=True)
    price = soup.select_one('.pdp-layout-top-resume-total-top-content-prices-final').text.replace('$', '').strip()
    desc = soup.select_one('div[aria-label="brand description"]').text.strip()

    return brand, model, price, desc, current_date

In [51]:
getProductData('https://www.glasses.com/gl-us/ray-ban/8056597827027')

('Ray-Ban',
 'RB5418 Optics',
 '179.00',
 'Born out of necessity in 1937, Ray-Ban® has been at the leading edge of developing high quality sunglasses to protect pilots from the sun’s harsh rays. Since then, Ray-Ban has been the eyewear of choice for visionaries and cultural creators everywhere to express their fearless and most authentic selves.',
 datetime.date(2023, 6, 15))